{% if act_add_cvp and not (mgmt_network.network | ansible.utils.network_in_usable(act_cvp_ip)) %}
{{     notdefined | mandatory("You have chosen to add a cvp node with an inconsistent IP address compared to your veos nodes.") }}
{% endif  %}
{% if act_add_connected_nodes and not ( mgmt_network.network | ansible.utils.network_in_network(act_connected_nodes_range)) %}
{{     notdefined | mandatory("You have chosen to add connected nodes with inconsistent IP addressing compared to your veos nodes.") }}
{% endif %}
{% if act_add_ansible_node and not (mgmt_network.network | ansible.utils.network_in_usable(act_ansible_ip)) %}
{{     notdefined | mandatory("You have chosen to add an ansible node with inconsistent IP addressing compared to your veos nodes.") }}
{% endif %}



